@import "_var";
@import 'modules/work';
@import 'modules/contact';

@import 'modules/about';
@import 'modules/aboutMQ';

@import 'modules/featured';


.hidden {
	display: none;
}

img, embed, object, video {
  max-width: 100%;
}

body {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 400;
}                      

a {
    text-decoration: none;
}

/* Hamburger Menu */
#burgerCon {
    display: none;
}

#burgerCon.slideToggle { display: block; }

.mainNav button {
    background: url(../assets/burger.svg) center no-repeat;
    border: 0;
    width: 35px;
    height: 35px;
    transition: all 600ms ease;
    margin: 20px 0 0 315px; 
}

.mainNav button.expanded {
    /* browser prefixes for transform */
   -webkit-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
 
   transform: rotate(90deg);
 }

 .mainNav li a {
    text-decoration: none;
    display: block;
    color: #000;
    text-align: center;
}

.mainNav li { border-bottom: 1px solid $main-one; }  

.mainNav li a:hover { color: $main-two;; }

.mainLogo {
    width: 90px;
    height: 35px;
    margin: 0 auto;
}

// Home Intro

.homeImg { max-width: 100%; margin-top: 25px; }

#homeText p {
    width: 309px;
    height: 73px;
    margin: 41px auto;
    font-size: 13px;
}

// Offer Section

.offers {
    background-color: $main-one;
    position: relative;
    height: 628px;
    margin-top: 30px;
}

.offers h2 {
    color: #fff;
    border-bottom: 3px solid $main-two;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 600; 
    font-size: 23px;
    padding-top: 20px;
}

.borderLine {
    width: 195px;
    margin: 0 auto;
}

.offerIcon {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 60px;
}

.offers p {
    color: #fff;
    text-align: center;
    padding-top: 10px;
}

// Design Works


.workSamples h2 {
    color: #000;
    border-bottom: 3px solid $main-two;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 600; 
    font-size: 23px;
    padding-top: 50px;
    margin-bottom: 15px;
}

.sampleOne { margin-left: 50px; }

.sampleImg {
    position: relative;
    margin: 20px auto;
}

.work-img {
    display: block;
    width: 283px;
}

.overlayT {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 283px;
    opacity: 0;
    transition: .3s ease;
    background-color: $main-two;
}

.sampleImg:hover .overlayT { opacity: 1; }

.textOver {
    color: #fff;
    font-size: 30px;
    width: 283px;
    margin: 0 0 100px 140px;
    position: absolute;
    margin: 90px 150px 70px 140px;
    -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
}

.textOver p {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 400; 
}

#viewMore {
    display: block;
    margin: 50px auto;
    border: 0;
    background-color: $main-two;
    width: 100px;
    height: 30px;
    transition: all 0.5s;
}

#viewMore span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #viewMore span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  #viewMore:hover span {
    padding-right: 14px;
  }
  
  #viewMore:hover span:after {
    opacity: 1;
    right: 0;
  }

// Partners

.partnerComp h2 {
    color: #000;
    border-bottom: 3px solid $main-two;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 600; 
    font-size: 23px;
    padding-top: 50px;
}

.bLine { width: 87px; margin: 0 auto; }

.partnerComp p {
    padding: 20px auto 49px auto;
    text-align: center;
}

.compLogos {
    width: 160px;
    display: block;
    margin: 0 auto;
}


// Footer
@import 'modules/footer';

// Media Query
@import 'modules/homeMQ';

// Contact Page







